<head>
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <h1>Todo <span>list</span></h1>
        <h2>A simple todo web app built with AJAX and nodejs. </h2>
    </header>
    
    <section class="form">
        <input type="text" id="todoInput" placeholder="input your new todo here..."/>
    </section>
    
    <ul class="list">
    </ul>
    
    <script type="text/javascript" src="app.js"></script>
</body>